<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>chat room</title>
  </head>
  <body>
    {% load static %} {% block content %} {% if user.is_authenticated %}
    <h1>Hi {{ user.username }}</h1>
    <input type="hidden" id="loginUser" value="{{ user.id }}" />
    {% endif %}

    <form id="chat">
      <input id="input_message" type="text" name="message" />
    </form>
    <div id="message"></div>
    <div class="container">
      <div>
        <div>
          <div>
            <a id="user_info_profile" href="">
              <h3 id="chatfriend_username">name</h3>
            </a>
            
            <textarea></textarea>
            <button class="btn btn-primary">send</button>
          </div>
        </div>

        <div>
          <div class="card">
            <div>
              <h3>Friends</h3>
            </div>
            <div>
              
                {% for msgFriend in friends_list %}
                <div
                  onclick="onSelect('{{msgFriend.friend.id}}')"
                  id="id_friend_container_{{msgFriend.friend.id}}"
                >
                  <img id="id_friend_img_{{msgFriend.friend.id}}" src="" />
                  <div>
                    <span>{{msgFriend.friend.username}}</span>
                    <span class="friend-message-span"
                      >{{msgFriend.message|truncatechars:20}}</span
                    >
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Client Error MODAL -->
    <!-- <button
      type="button"
      id="id_trigger_client_error_modal"
      class="d-none btn btn-primary"
      data-toggle="modal"
      data-target="#id_client_error_modal"
    ></button>
    <div
      class="modal fade"
      id="id_client_error_modal"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Socket Client Error</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="id_client_error_modal_body">Something went wrong.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              id="id_client_error_modal_close_btn"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Client Error MODAL -->

    <script type="text/javascript">
      const user_id = $("#loginUser").val();
      var socket = null;
      onStart();
      function onStart(){

        {% if friends_list %}
            onSelect("{{friends_list.0.friend.id}}")
        {% endif %}


      }
      function onSelect(userId){
        console.log("onSelect: " + userId)
        startChat(userId)
      }

      const chatForm = document.getElementById("chat");
      const inputMessage = document.getElementById("input_message");
      var roomId = null;
      function newSocket(room_id) {
        roomId = room_id;
        if(socket != null){
          socket.close()
          socket = null
        }
        // var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        // var ws_path = ws_scheme + '://' + window.location.host + "/private_chat/" + roomId + "/";
        var url = `wss://${window.location.host}/private_chat/${roomId}/`;
        console.log(roomId)
        socket = new WebSocket(url);

        socket.onmessage = function (message) {
          console.log("onmessage: " + message.data)
          var data = JSON.parse(message.data);
          console.log(data)
          if (data.error) {
            
          }
          if (data.join) {
            console.log("Joining room " + data.join);
            console.log(data.join);
            getUserInfo()
          }
          if (data.leave) {
            console.log("Leaving room " + data.leave);
          }
          if (data.user_info) {
            triggerUserInfo(data.user_info)
          }
        };

        socket.addEventListener("open", function (e) {
          console.log("Socket opened");
          if ("{{request.user.is_authenticated}}") {
            chatSocket.send(
              JSON.stringify({
                "command": "join",
                "room": roomId,
              })
            );
          }
        });
        if (socket.readyState == WebSocket.OPEN) {
	    	  console.log("Socket OPEN")
	      } else if (socket.readyState == WebSocket.CONNECTING){
	        console.log("Socket connecting..")
	    }
      }

      function getUserInfo(){
        socket.send(JSON.stringify({
          "command": "user_info",
          "room_id": roomId,
        }));
      }

      function triggerUserInfo(user_info) {
        document.getElementById("chatfriend_username").innerHTML = user_info.username
        print("这里是" + user_info.username)
        document.getElementById("user_info_profile").href = "{% url 'profile' '123123123' %}".replace('123123123', user_info.id)

      }


      function startChat(id) {
        
        data1 = {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "user2_id": id,
        };
       
        $.ajax({
          type: "POST",
          dataType: "json",
          url: "{% url 'start_chat' %}",
          data: data1,
          success: function (data) {
            if (data['response'] == "Chat created successfully") {
              console.log("here")
              newSocket(data['chat_id']);
            }
          },
          error: function (data) {
            console.log(data);
          },
        });
      }

      // socket.onopen = function (e) {
      //   chatForm.on("submit", function (e) {
      //     e.preventDefault();
      //     let message = input_message.val();
      //     let receiver = get_receiver_id();
      //     let thread_id = get_active_thread_id();

      //     let data = {
      //       message: message,
      //       sender: user_id,
      //       receiver: receiver,
      //       thread_id: thread_id,
      //     };
      //     data = JSON.stringify(data);
      //     socket.send(data);
      //     chatForm.reset();
      //   });
      // };

      // socket.onmessage = function (e) {
      //   const data = JSON.parse(e.data);
      //   const message = data["message"];
      //   const sender_id = data["sender"];
      //   get_new_message(message, sender_id);
      // };
      // const message = data["message"];

      // document.querySelector("#chat").addEventListener("submit", (e) => {
      //   e.preventDefault();
      //   let message = e.target.message.value;
      //   socket.send(
      //     JSON.stringify({
      //       message: message,
      //     })
      //   );
      //   chatForm.reset();
      // });

      // function get_new_message(message, sender_id) {
      //   if (sender_id == user_id) {
      //     return `<div class="message message--right">
      //               <div class="message__text">${message}</div>
      //           </div>`;
      //   } else {
      //     return `<div class="message message--left">
      //               <div class="message__text">${message}</div>
      //           </div>`;
      //   }
      // }

      // function get_receiver_id() {
      //   let receiver_id = $(".messages-wrapper.is_active").attr(
      //     "other-user-id"
      //   );
      //   receiver_id = $.trim(receiver_id);
      //   return receiver_id;
      // }
    </script>
    {% endblock content %}
  </body>
</html>
